html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
}

#container-fluid {
    overflow: hidden;
}

div {
    overflow: hidden;
}

.content-row {
    height: 90vh

;

}

.intel-list {
    overflow: auto;
}

.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.dropdown-menu{
    height:200px;
    overflow-y:auto;
}

th, td {
    padding: 10px;
}

.dot {
    height: 14px;
    width: 14px;
    background-color: darkgrey;
    border-radius: 50%;
    display: inline-block;
} 

/* This is for the system connections */
.jump-std {
    stroke: black
}


/* This is for the status bar colours */

.status-def {
    fill: blue;
}

.status-request {
    fill: yellow;
}

/* This is for the alarm bar */

.alm-clr {
    fill: white;
}

.alm-red {
    fill: red;
}

.alm-old {
    fill: orange
}

.alm-very-old {
    fill: yellow
}